<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=dbACAWAR;Uid=root;Pwd=kjsce" name="dbACAWAR" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=localhost;Database=dbACAWA;Uid=root;Pwd=kkksss333" name="dbACAWA" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
